body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

header {
  width: 100%;
  border-bottom: 1px solid rgb(220,220,220);
  position: fixed;
  z-index: 100;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
}

.header-wrapper {
  max-width: 1140px;
  height: 60px;
  margin: 0 auto;
}

.logo-header {
  background-size: 206px 53px;
  width: 206px;
  height: 53px;
  margin: 5px 0px 10px 6px;
}

.down {
  margin: 12px 10px 10px 0px;
  text-align: center;
  padding: 0.8em 1.3em;
  background-color: transparent;
  text-shadow: none;
  color: #605ca8;
  border: 2px solid #605ca8;
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  float: right;

}

.down:hover {
  background-color: #605ca8;
  color: #fff;
}


.bg {
  background: url('../img/cover@2x.png') no-repeat center;
  background-size: cover;
  max-height: 651px;
  z-index: 0;
}

.bg-container {
  position: relative;
  overflow: hidden;
  text-align: center;
  min-height: 700px;
  padding-top: 130px;
  padding-right: 5%;
  padding-left: 5%;
}

.logo {
  background-size: 288px 76px;
  width: 288px;
  height: 76px;
  margin: 0 auto 10px;
}

h1 {
  max-width: 960px;
  margin: 0 auto 10px;
  text-align: center;
  color: #fff;
  font-size: 3.8em;
  font-weight: 800;
  letter-spacing: 15px; 
}

.runmill-desc {
  max-width: 630px;
  margin: 0 auto 90px;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 1.5px;
  line-height: 32px;
}

.contact {
  text-align: center;
  padding: 1.2em 1.3em;
  background-color: transparent;
  border-color: #fff;
  text-shadow: none;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase; 
}

.contact:hover {
  background-color: #fff;
  color: #605ca8;
}


/****************************************************************

STEP ONE

****************************************************************/

.stopwatch {
  height: 610px;
  background: #fff;
  overflow: hidden;
}

.stopwatch-wrap {
  max-width: 960px;
  margin: 0 auto;
/**  padding-right: 5%;
  padding-left: 5%; **/
}

.stopwatch-title {
  max-width: 960px;
  margin: 85px auto 30px;
  text-align: center;
  color: #605ca8;
}

.stopwatch-title, .flexible-title {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 2px;
}

.stopwatch-desc {
  max-width: 530px;
  margin: 0 auto 40px;
  text-align: center;
  color: #888888;
}

.stopwatch-desc, .flexible-desc {
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 30px;
}

.fit {
  width: 100%;
  text-align: center;
}

.fit-icons {
  background-size: 320px 249px;
  width: 320px;
  height: 249px;
  margin: 0 auto;
}






/****************************************************************

STEP TWO

****************************************************************/

.flexible {
  height: 550px;
  background: #605ca8;
}

.flexible-wrap {
  max-width: 1200px;
  margin: 0 auto;
/**  padding-right: 5%;
  padding-left: 5%; **/
}

.flexible-title {
  max-width: 400px;
  margin-top: 200px;
  color: #fff;
}

.flexible-desc {
  max-width: 500px;
  color: #fff;
}

.flexible-overview {
  padding-left: 100px;
  text-align: left;
  float: left;
}

.first-watch {
  margin-top: -170px;
  float: right;
}

.f-watch {
  background-size: 553px 870px;
  width: 553px;
  max-height: 870px;
}

/****************************************************************

STEP THREE

****************************************************************/

.heart {
  height: 690px;
  background: #fff;
  clear: both;
}

.heart-wrap {
  max-width: 1200px;
  margin: 0 auto;
/**  padding-right: 5%;
  padding-left: 5%; **/
}

.heart-overview {
  max-width: 500px;
  float: right;
}

.heart-title {
  max-width: 500px;
  margin-top: 80px;
  color: #605ca8;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 2px;
}

.heart-desc {
  max-width: 500px;
  color: #888888;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 30px;
}

.second-watch {
  margin-top: -20px;
  padding-left: 100px;
  float: left;
}

.s-watch {
  background-size: 471px 574px;
  width: 471px;
  max-height: 574px;
}

/****************************************************************

STEP FOUR

****************************************************************/

.taptic {
  height: 935px;
  background: #fff;
  border-top: 1px solid rgb(220,220,220);
  border-bottom: 1px solid rgb(220,220,220);
  overflow: hidden;
}

.taptic-wrap {
  max-width: 910px;
  margin: 0 auto;
  padding-right: 5%;
  padding-left: 5%;
}

.taptic-title {
  max-width: 400px;
  margin: 100px auto 30px;
  text-align: center;
  color: #605ca8;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 2px;
}

.taptic-desc {
  max-width: 530px;
  margin: 0 auto 40px;
  text-align: center;
  color: #888888;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 30px;
}

.taptic-icon {
  width: 100%;
  text-align: center;
}

.t-icons {
  background-size: 623px 540px;
  width: 623px;
  max-height: 540px;
  margin: 0 auto;
}

/****************************************************************

enough scrolling

****************************************************************/

.end {
  background: url('../img/lower-bg@2x.png') no-repeat center;
  background-size: cover;
  max-height: 620px;
  z-index: 0;
}

.end-wrap {
  text-align: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-top: 130px;
  padding-right: 5%;
  padding-left: 5%;
  min-height: 620px;
}

.end-title {
  max-width: 960px;
  margin: 90px auto 15px;
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 2px;
}

.end-desc {
  max-width: 530px;
  margin: 0 auto 60px;
  text-align: center;
  color: #fff;
  font-size: 1.05em;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 30px;
}

.contact-down {
  text-align: center;
  padding: 1.2em 1.3em;
  background-color: transparent;
  text-shadow: none;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase; 
}

.contact-down:hover {
  background-color: #fff;
  color: #605ca8;
}





/****************************************************************

FOOTER

****************************************************************/

footer {
  height: 35px;
  text-align: center;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

footer p {
  text-decoration: none;
  color: #a6a6a6;
}





/**************************************************************** 
*****************************************************************
*****************************************************************

MEDIA QUERIES

*****************************************************************
*****************************************************************
****************************************************************/

@media screen and (max-width: 1153px) and (min-width: 769px) {

.stopwatch-wrap, .flexible-wrap, .heart-wrap {
  padding-right: 5%;
  padding-left: 5%;
}

.flexible {
  height: 930px;
}

.flexible-title {
  margin: 70px auto 25px;
}

.flexible-desc {
  margin: 0 auto 50px;
}

.flexible-overview {
  padding-top: 10px;
  padding-left: 0;
  text-align: center;
  margin: 0 auto;
  float: none;
}

.first-watch {
  margin: 0 auto;
  text-align: center;
  float: none;
}

.f-watch {
  background-size: 359px 566px;
  width: 359px;
  max-height: 566px;
}

/** heart **/

.heart {
  height: 890px;
}

.heart-wrap {
  max-width: 1200px;
}

.heart-overview {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  float: none;
}

.heart-title {
  max-width: 800px;
  margin: 80px auto 25px;
}

.heart-desc {
  margin: 0 auto;
  max-width: 700px;
}

.second-watch {
  margin: 80px auto 10px;
  text-align: center;
  padding-left: 0;
  float: none;
}

.s-watch {
  background-size: 323px 394px;
  width: 323px;
  max-height: 394px;
}

/** taptic **/

.taptic {
  height: 765px;
}

.taptic-title {
  margin: 80px auto 30px;
}

.t-icons {
  background-size: 467px 405px;
  width: 467px;
  max-height: 405px;
}

}

@media screen and (max-width: 768px) and (min-width: 481px) {

.stopwatch-wrap, .flexible-wrap, .heart-wrap {
  padding-right: 5%;
  padding-left: 5%;
}

/** bg **/

.bg {
  max-height: 565px;
}

.bg-container {
  padding-top: 80px;
}

h1 {
  max-width: 960px;
  margin: 20px auto 10px;
  text-align: center;
  color: #fff;
  font-size: 2.5em;
  font-weight: 800;
  letter-spacing: 10px; 
}

.runmill-desc {
  max-width: 440px;
  margin: 15px auto 90px;
  text-align: center;
  color: #fff;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 1.2px;
  line-height: 27px;
}

/** stopwatch **/

.stopwatch {
  height: 570px;
}

.stopwatch-title {
  margin: 75px auto 20px;
}

.stopwatch-title, .flexible-title {
  font-size: 1.5em;
}

.stopwatch-desc, .flexible-desc {
  font-size: 1.05em;
  line-height: 28px;
}

/** flex **/

.flexible {
  height: 930px;
}

.flexible-title {
  margin: 70px auto 25px;
}

.flexible-desc {
  margin: 0 auto 50px;
}

.flexible-overview {
  padding-top: 10px;
  padding-left: 0;
  text-align: center;
  margin: 0 auto;
  float: none;
}

.first-watch {
  margin: 0 auto;
  text-align: center;
  float: none;
}

.f-watch {
  background-size: 359px 566px;
  width: 359px;
  max-height: 566px;
}

/** heart **/

.heart {
  height: 960px;
}

.heart-wrap {
  max-width: 1200px;
}

.heart-overview {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  float: none;
}

.heart-title {
  max-width: 800px;
  margin: 80px auto 25px;
  font-size: 1.5em;
}

.heart-desc {
  margin: 0 auto;
  font-size: 1.05em;
}

.second-watch {
  margin: 80px auto 10px;
  text-align: center;
  padding-left: 0;
  float: none;
}

.s-watch {
  background-size: 323px 394px;
  width: 323px;
  max-height: 394px;
}

/** taptic **/

.taptic {
  height: 765px;
}

.taptic-title {
  font-size: 1.5em;
  margin: 80px auto 30px;
}

.taptic-desc {
  font-size: 1.05em;
}

.t-icons {
  background-size: 467px 405px;
  width: 467px;
  max-height: 405px;
}


/** end **/

.end-title {
  font-size: 1.7em;
}

}

/***************** 

FIM 

*****************/




@media screen and (max-width: 480px) and (min-width: 321px) {

.stopwatch-wrap, .flexible-wrap, .heart-wrap {
  padding-right: 5%;
  padding-left: 5%;
}

/** header **/

.header-wrapper {
text-align: center;
}

.logo-header {
  display: none;
}

.down {
  margin-top: 10px;
  display: inline-block;
  float: none;

}


/** bg **/

.bg {
  max-height: 560px;
}

.bg-container {
  padding-top: 80px;
}

h1 {
  max-width: 960px;
  margin: 20px auto 10px;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: 10px; 
}

.runmill-desc {
  max-width: 440px;
  margin: 15px auto 90px;
  text-align: center;
  color: #fff;
  font-size: 0.95em;
  font-weight: 200;
  letter-spacing: 1.2px;
  line-height: 27px;
}

/** stopwatch **/

.stopwatch {
  height: 570px;
}

.stopwatch-title {
  margin: 75px auto 20px;
}

.stopwatch-title, .flexible-title {
  font-size: 1.5em;
}

.stopwatch-desc, .flexible-desc {
  font-size: 1.05em;
  line-height: 28px;
}

/** flex **/

.flexible {
  height: 930px;
}

.flexible-title {
  margin: 70px auto 25px;
}

.flexible-desc {
  margin: 0 auto 50px;
}

.flexible-overview {
  padding-top: 10px;
  padding-left: 0;
  text-align: center;
  margin: 0 auto;
  float: none;
}

.first-watch {
  margin: 0 auto;
  text-align: center;
  float: none;
}

.f-watch {
  background-size: 359px 566px;
  width: 359px;
  max-height: 566px;
}

/** heart **/

.heart {
  height: 960px;
}

.heart-wrap {
  max-width: 1200px;
}

.heart-overview {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  float: none;
}

.heart-title {
  max-width: 800px;
  margin: 80px auto 25px;
  font-size: 1.5em;
}

.heart-desc {
  margin: 0 auto;
  font-size: 1.05em;
}

.second-watch {
  margin: 80px auto 10px;
  text-align: center;
  padding-left: 0;
  float: none;
}

.s-watch {
  background-size: 323px 394px;
  width: 323px;
  max-height: 394px;
}

/** taptic **/

.taptic {
  height: 765px;
}

.taptic-title {
  font-size: 1.5em;
  margin: 80px auto 30px;
}

.taptic-desc {
  font-size: 1.05em;
}

.t-icons {
  background-size: 467px 405px;
  width: 467px;
  max-height: 405px;
}


/** end **/

.end-title {
  font-size: 1.7em;
}


}

/***************** 

FIM 

*****************/




@media screen and (min-device-width: 320px) and (max-device-width: 568px) {


        /***********************************

        iPhone 5

        ************************************/

.stopwatch-wrap, .flexible-wrap, .heart-wrap {
  padding-right: 5%;
  padding-left: 5%;
}

/** header **/

.header-wrapper {
text-align: center;
}

.logo-header {
  display: none;
}

.down {
  margin-top: 10px;
  display: inline-block;
  float: none;

}


/** bg **/

.bg {
  max-height: 560px;
}

.bg-container {
  padding-top: 80px;
}

h1 {
  max-width: 960px;
  margin: 10px auto 10px;
  text-align: center;
  color: #fff;
  font-size: 1.4em;
  font-weight: 800;
  letter-spacing: 10px; 
}

.runmill-desc {
  max-width: 440px;
  margin: 15px auto 90px;
  text-align: center;
  color: #fff;
  font-size: 0.95em;
  font-weight: 200;
  letter-spacing: 1.15px;
  line-height: 27px;
}

/** stopwatch **/

.stopwatch {
  height: 535px;
}

.stopwatch-title {
  margin: 60px auto 20px;
}

.stopwatch-title, .flexible-title {
  font-size: 1.3em;
  line-height: 32px;
}

.stopwatch-desc, .flexible-desc {
  font-size: 0.95em;
  line-height: 26px;
}

.fit-icons {
  background-size: 244px 181px;
  width: 244px;
  height: 181px;
}

/** flex **/

.flexible {
  height: 850px;
  overflow: hidden;
}

.flexible-title {
  margin: 60px auto 25px;
}

.flexible-desc {
  margin: 0 auto 50px;
}

.flexible-overview {
  padding-top: 10px;
  padding-left: 0;
  text-align: center;
  margin: 0 auto;
  float: none;
}

.first-watch {
  margin: 0 auto;
  text-align: center;
  float: none;
}

.f-watch {
  background-size: 359px 566px;
  width: 359px;
  max-height: 566px;
}

/** heart **/

.heart {
  height: 935px;
}

.heart-wrap {
  max-width: 1200px;
}

.heart-overview {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  float: none;
}

.heart-title {
  max-width: 200px;
  margin: 70px auto 25px;
  font-size: 1.3em;
  line-height: 32px;
}

.heart-desc {
  margin: 0 auto;
  font-size: 0.95em;
  line-height: 26px;
}

.second-watch {
  margin: 50px auto 10px;
  text-align: center;
  padding-left: 0;
  float: none;
}

.s-watch {
  background-size: 323px 394px;
  width: 323px;
  max-height: 394px;
}

/** taptic **/

.taptic {
  height: 670px;
}

.taptic-title {
  font-size: 1.3em;
  margin: 65px auto 30px;
  line-height: 32px;
}

.taptic-desc {
  font-size: 0.95em;
  line-height: 26px;
}

.t-icons {
  background-size: 467px 405px;
  width: 467px;
  max-height: 405px;
}


/** end **/

.end-title {
  font-size: 1.3em;
  margin-top: 50px;
  line-height: 32px;
}

.end-desc {
  max-width: 260px;
  font-size: 0.95em;
  line-height: 25px;
}


}

/***************** 

FIM 

*****************/




@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  

        /***********************************

        iPhone 6

        ************************************/

.stopwatch-wrap, .flexible-wrap, .heart-wrap {
  padding-right: 5%;
  padding-left: 5%;
}

/** bg **/

.bg {
  max-height: 580px;
}

.bg-container {
  padding-top: 80px;
}

h1 {
  margin: 20px auto 10px;
  font-size: 1.7em;
}

.runmill-desc {
  max-width: 440px;
  margin: 15px auto 90px;
  text-align: center;
  color: #fff;
  font-size: 1.05em;
  font-weight: 200;
  letter-spacing: 1.2px;
  line-height: 27px;
}

/** stopwatch **/

.stopwatch {
  height: 570px;
}

.stopwatch-title {
  margin: 75px auto 20px;
}

.stopwatch-title, .flexible-title {
  font-size: 1.5em;
}

.stopwatch-desc, .flexible-desc {
  font-size: 1.05em;
  line-height: 28px;
}

/** flex **/

.flexible {
  height: 920px;
  overflow: hidden;
}

.flexible-title {
  margin: 70px auto 25px;
}

.flexible-desc {
  margin: 0 auto 50px;
}

.flexible-overview {
  padding-top: 10px;
  padding-left: 0;
  text-align: center;
  margin: 0 auto;
  float: none;
}

.first-watch {
  margin: 0 auto;
  text-align: center;
  float: none;
}

.f-watch {
  background-size: 359px 566px;
  width: 359px;
  max-height: 566px;
}

/** heart **/

.heart {
  height: 995px;
}

.heart-wrap {
  max-width: 1200px;
}

.heart-overview {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  float: none;
}

.heart-title {
  max-width: 800px;
  margin: 80px auto 25px;
  font-size: 1.5em;
}

.heart-desc {
  margin: 0 auto;
  font-size: 1.05em;
}

.second-watch {
  margin: 60px auto 10px;
  text-align: center;
  padding-left: 0;
  float: none;
}

.s-watch {
  background-size: 323px 394px;
  width: 323px;
  max-height: 394px;
}

/** taptic **/

.taptic {
  height: 755px;
}

.taptic-title {
  font-size: 1.5em;
  margin: 80px auto 30px;
}

.taptic-desc {
  font-size: 1.05em;
}


/** end **/

.end-title {
  font-size: 1.6em;
  margin-top: 60px;
}

.end-desc {
  max-width: 300px;

}

}

}

/***************** 

FIM 

*****************/




@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 3) {
 
        /***********************************

        iPhone 6 Plus Portrait

        ************************************/


/** bg **/

.bg {
  max-height: 600px;
}

.bg-container {
  padding-top: 80px;
}

h1 {
  margin: 20px auto 10px;
  font-size: 2em;
}

.runmill-desc {
  max-width: 440px;
  margin: 15px auto 90px;
  text-align: center;
  color: #fff;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 1.2px;
  line-height: 27px;
}

/** stopwatch **/

.stopwatch {
  height: 510px;
}

.stopwatch-title {
  margin: 75px auto 20px;
}

.stopwatch-title, .flexible-title {
  font-size: 1.5em;
}

.stopwatch-desc, .flexible-desc {
  font-size: 1.05em;
  line-height: 28px;
}

/** flex **/

.flexible {
  height: 960px;
  overflow: hidden;
}

.flexible-title {
  margin: 70px auto 25px;
}

.flexible-desc {
  margin: 0 auto 50px;
}

.flexible-overview {
  padding-top: 10px;
  padding-left: 0;
  text-align: center;
  margin: 0 auto;
  float: none;
}

.first-watch {
  margin: 0 auto;
  text-align: center;
  float: none;
}

.f-watch {
  background-size: 359px 566px;
  width: 359px;
  max-height: 566px;
}

/** heart **/

.heart {
  height: 975px;
}

.heart-wrap {
  max-width: 1200px;
}

.heart-overview {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  float: none;
}

.heart-title {
  max-width: 800px;
  margin: 80px auto 25px;
  font-size: 1.5em;
}

.heart-desc {
  margin: 0 auto;
  font-size: 1.05em;
}

.second-watch {
  margin: 60px auto 10px;
  text-align: center;
  padding-left: 0;
  float: none;
}

.s-watch {
  background-size: 323px 394px;
  width: 323px;
  max-height: 394px;
}

/** taptic **/

.taptic {
  height: 755px;
}

.taptic-title {
  font-size: 1.5em;
  margin: 80px auto 30px;
}

.taptic-desc {
  font-size: 1.05em;
}


/** end **/

.end-title {
  font-size: 1.7em;
  margin-top: 50px;
}

.end-desc {
  max-width: 300px;

}

}

/***************** 

FIM 

*****************/




@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 3) {

        /***********************************

        iPhone 6 Plus Landscape

        ************************************/




}

/***************** 

FIM 

*****************/



